body {
  background-color: rgb(8, 0, 12);
}

button {
  background-color: blueviolet;
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 100px;
  color: antiquewhite;
  transition: 350ms ease-in-out;
}

button:hover {
  background-color: blue;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
